.ac-marks-awarded {
  /* max-height: 70%; */
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.ac-marks-heading {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 20px;
}

.ac-request {
  color: rgb(50, 50, 50);
  background-color: rgba(255, 255, 255, 0.267);
  height: 175px;
  border-radius: 10px;
  border: 1px solid rgb(133, 133, 133);
  width: 270px;
  padding: 10px;
  cursor: pointer;
}

.overflow-hidden {
  overflow-y: hidden !important;
}

.color-gray th {
  border-bottom: 1px solid rgba(90, 90, 90, 0.459);
  color: rgb(90, 90, 90) !important;
}

.ellipsis {
  display: inline-block; /* for inline elements e.g. span, strong, em etc */
  text-overflow: ellipsis;
  width: calc(100%); /* The trick is here! */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid rgb(164, 164, 164);
  margin-bottom: 5px;
}
