.feedback {
  height: 100%;
  width: 100%;
}

.feedback-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  color: #060606;
}

.feedback-container {
  /* max-height: 200px; */
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.feedback-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0000001a;
  height: 40px;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
}

.header-row {
  font-weight: 500;
}

.column {
  width: 225px;
  padding: 10px;
}

@media (max-width: 750px) {
  .column {
    font-size: 10px;
  }
}

@media (max-width: 900px) {
  .feedback-container {
    max-height: 200px;
  }
}

@media (max-width: 450px) {
  .feedback .dashboard-heading {
    font-size: 13px;
  }
  .feedback .dashboard-heading-sm {
    font-size: 10px;
  }
}
