.members {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.members-container {
  max-height: 90%;
  height: fit-content;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  display: grid;
  place-items: center;
}

.members-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
}

/* Header styling */
.members-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px;
  color: rgb(61, 61, 61);
  gap: 20px;
}

/* Each row in the group members list */
.member-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Ensures top alignment */
  padding: 5px;
  font-size: 15px;
  /* border-bottom: 1px solid rgb(147, 147, 147); */
  gap: 20px;
  color: rgb(71, 71, 71);
}

/* Each column inside the row */
.member-column {
  flex: 1; /* Each column takes equal space */
  word-wrap: break-word;
  min-width: 33% !important;
}

/* Styling for the first column to be wider */
.member-column:first-child {
  flex: 1.5;
}

@media (max-width: 768px) {
  .member-column {
    font-size: 20px;
  }
}

@media (max-width: 1250px) {
  .member-column {
    font-size: 11px !important;
  }
}

/* Additional styles for responsiveness or specific column widths */
@media (max-width: 768px) {
  .member-column {
    flex: 1;
  }
}
