.spinner {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
}

.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pl11 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5em;
  width: 6em;
  height: 6em;
}

.pl11__a,
.pl11__b,
.pl11__c {
  border-radius: 50%;
  width: 0.8em;
  height: 0.8em;
  transform-origin: center;
  animation: scalePulse 1s ease-in-out infinite;
}

.pl11__a {
  background-color: white;
}

.pl11__b {
  background-color: white;
  animation-delay: 0.2s;
}

.pl11__c {
  background-color: white;
  animation-delay: 0.4s;
}

.black {
  background-color: black !important;
}

@keyframes scalePulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0);
  }
}
